<div class="container-md">
  <h1 class="text-center">Create a new card</h1>

  <form [formGroup]="cardForm" (ngSubmit)="addCard()" class="needs-validation" novalidate>
    <div class="input-group mb-3">
      <span class="input-group-text">Title</span>
      <input type="text" formControlName="title" class="form-control" [class.is-invalid]="cardForm.get('title')?.invalid && cardForm.get('title')?.touched">
      @if(cardForm.get('title')?.hasError('minlength')){
        <div class="invalid-feedback">
          Title should have min 2 characters.
        </div>
      } @else {
        @if(cardForm.get('title')?.hasError('maxlength')){
            <div class="invalid-feedback">
              Title's max characters reached.
            </div>
          }
        @else {
          @if(cardForm.get('title')?.touched){
          <div class="invalid-feedback">Please insert a title.</div>
        }
        }
      }
    </div>

    <div class="mb-3">
      <label for="question-editor" class="form-label">Question</label>
      <quill-editor
        id="question-editor"
        formControlName="question"
        [modules]="questionQuillModules"
        [class.is-invalid]="cardForm.get('question')?.invalid && cardForm.get('question')?.touched"
        style="height: 150px;">
      </quill-editor>
      @if(cardForm.get('question')?.hasError('minlength')){
        <div class="invalid-feedback d-block">
          Question should have min 2 characters.
        </div>
      } @else {
        @if(cardForm.get('question')?.hasError('maxlength')){
          <div class="invalid-feedback d-block">
            Question's max characters reached.
          </div>
        } @else {
          @if(cardForm.get('question')?.touched && cardForm.get('question')?.hasError('required')){
            <div class="invalid-feedback d-block">Please insert a question.</div>
          }
        }
      }
    </div>

    <div class="mb-3">
      <label for="answer-editor" class="form-label">Answer</label>
      <quill-editor
        id="answer-editor"
        formControlName="answer"
        [class.is-invalid]="cardForm.get('answer')?.invalid && cardForm.get('answer')?.touched"
        style="height: 150px;">
      </quill-editor>
      @if(cardForm.get('answer')?.hasError('minlength')){
        <div class="invalid-feedback d-block">
          Answer should have min 2 characters.
        </div>
      } @else {
        @if(cardForm.get('answer')?.hasError('maxlength')){
            <div class="invalid-feedback d-block">
              Answer's max characters reached.
            </div>
          }
        @else {
          @if(cardForm.get('answer')?.touched && cardForm.get('answer')?.hasError('required')){
            <div class="invalid-feedback d-block">Please insert an answer.</div>
          }
        }
      }
    </div>
    
        <div class="input-group mb-3">
          <span class="input-group-text">Subject</span>
          <select formControlName="subject_id" class="form-select">
            <option value="">Choose the subject</option>
            <option *ngFor="let s of subjects" [value]="s._id">{{ s.name }}</option>
          </select>
        </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Topic</span>
        <select formControlName="topic_id" class="form-select">
          <option value="">Choose the topic</option>
          @for (t of topics; track t._id) {
            <option [value]="t._id">{{ t.name }}</option>
          }
        </select>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-success">Add new card</button>
    </div>
  </form>
</div>
<app-toast></app-toast>