<div class="input-group search-input-container" *transloco="let t">
  <label [for]="inputId" class="visually-hidden">{{ t('common.search') }}</label>
  <div class="search-input-wrapper">
    <input
      type="text"
      [id]="inputId"
      class="form-control"
      [placeholder]="placeholder"
      [ngModel]="value"
      [disabled]="disabled"
      (ngModelChange)="onInput($event)"
      (keyup.enter)="onSearch()"
    />
    @if (value) {
    <button type="button" class="search-clear-btn" (click)="clear()" [attr.aria-label]="t('common.clearSearch')">
      <span class="material-symbols-outlined">close</span>
    </button>
    }
  </div>
  <button type="button" class="input-group-text search-icon" [disabled]="disabled" (click)="onSearch()" [attr.aria-label]="t('common.search')">
    <span class="material-symbols-outlined">search</span>
  </button>
</div>
