<div class="container md" *transloco="let t">
  <app-page-card icon="book_2" [title]="'subject.manage.title' | transloco" [subtitle]="'subject.manage.subtitle' | transloco"
    [actions]="[{ label: t('subject.manage.newSubjectButton') }]" (action)="createSubject()">
    <div class="filter-bar mb-4">
      <div class="row align-items-center">
        <div class="col-md-4">
          <app-search-input
            [value]="searchTerm"
            [placeholder]="t('subject.manage.searchPlaceholder')"
            (valueChange)="onSearchTermChange($event)"
          ></app-search-input>
        </div>
      </div>
    </div>

    <table class="table table-stacked subjects-table mt-3">
      <thead>
        <tr>
          <th>{{ 'common.icon' | transloco }}</th>
          <th>{{ 'common.name' | transloco }}</th>
          <th>{{ 'subject.manage.tableDescription' | transloco }}</th>
          <th>{{ 'common.actions' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (subject of subjects; track subject._id) {
        <tr>
          <td class="subject-icon-cell"><img [src]="getIconUrl(subject)" alt="icon" class="subject-icon"></td>
          <td class="cell-title">{{ subject.name }}</td>
          <td class="cell-meta">
            @if (hasDescription(subject)) {
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="toggleDescription(subject._id)">
              <span class="material-symbols-outlined">
                {{ isDescriptionExpanded(subject._id) ? 'expand_less' : 'expand_more' }}
              </span>
              {{ 'subject.manage.tableDescription' | transloco }}
            </button>
            } @else {
            <span class="text-body-secondary fst-italic">{{ 'subject.manage.noDescription' | transloco }}</span>
            }
          </td>
          <td class="cell-actions">
            <button class="btn btn-outline-warning" (click)="editSubject(subject._id)" [attr.aria-label]="t('common.edit')">
              <span class="material-symbols-outlined">
              edit
              </span>
            </button>
            <button class="btn btn-outline-danger" (click)="askDeleteSubject(subject._id)" [attr.aria-label]="t('common.delete')">
              <span class="material-symbols-outlined">
              delete
              </span>
            </button>
          </td>
        </tr>
        @if (isDescriptionExpanded(subject._id)) {
        <tr class="description-row">
          <td colspan="4" class="description-cell">
            <div class="subject-description" [innerHTML]="subject.desc" (zoomableImages)="lightbox.open($event)"></div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
      (previous)="previousPage()" (next)="nextPage()"></app-pagination>
  </app-page-card>
<app-image-lightbox #lightbox></app-image-lightbox>
<ng-container *transloco="let t">
  <app-confirm-dialog [isOpen]="showDeleteConfirm" [title]="t('common.confirmDelete')"
    [message]="t('subject.manage.deleteConfirm')" [confirmLabel]="t('common.yes')" [cancelLabel]="t('common.cancel')"
    (confirmed)="confirmDelete()" (cancelled)="cancelDelete()"></app-confirm-dialog>
</ng-container>

