services:
  mongodb:
    image: mongo:8.0.9
    command: ["mongod", "--quiet"] # log solo di errori gravi
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    environment:
      # per fare inizializzare il db alla prima scrittura
      - MONGO_INITDB_DATABASE=flashcard_db

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: flashcards_manager
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/flashcard_db
    depends_on:
      - mongodb
    volumes:
      # Bind mount per il codice client (per hot-reloading)
      - ./client:/app/client
      # Bind mount per il codice server (per hot-reloading)
      - ./server:/app/server
      - server-data:/app/server/data
      - client-data:/app/client/data

volumes:
  mongo_data:
  server-data:
  client-data:
