services:
  mongodb:
    image: mongo:8.0.9
    command: ["mongod", "--quiet"] # log solo di errori gravi
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    environment:
      # per fare inizializzare il db alla prima scrittura
      - MONGO_INITDB_DATABASE=flashcard_db

  server:
    build: ./server
    restart: unless-stopped
    container_name: flashcards_server
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://mongodb:27017/flashcard_db
      - enableSwagger=true # per il development lasciare a true, altrimenti mettere a false
      - appName=Flashcards_Manager
    depends_on:
      - mongodb

  client:
    build: ./client
    restart: unless-stopped
    container_name: flashcards_client
    ports:
      - "4200:80"
    depends_on:
      - server

volumes:
  mongo_data:
