<nav>
  <!-- Sinistra: Logo + Nome progetto -->
  <a routerLink="/home" class="logo-container">
    <img src="assets/logo2.png" alt="Logo" class="logo">
    <span class="project-name">Flashcards Manager</span>
  </a>

  <!-- Centro: Menu -->
  <div class="menu-container">
    <div class="dropdown" (appClickOutside)="closeDropdown('topics')">
      <span class="menu-item" (click)="toggleDropdown('topics')">
        {{ 'navbar.topics' | transloco }}
        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="currentColor">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </span>
      <div class="dropdown-content" [class.show]="openDropdown === 'topics'">
        <a routerLink="/create-topic" (click)="closeDropdown('topics')">{{ 'navbar.createTopic' | transloco }}</a>
        <a routerLink="/manage-topics" (click)="closeDropdown('topics')">{{ 'navbar.manageTopics' | transloco }}</a>
      </div>
    </div>
    <div class="dropdown" (appClickOutside)="closeDropdown('subjects')">
      <span class="menu-item" (click)="toggleDropdown('subjects')">
        {{ 'navbar.subjects' | transloco }}
        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="currentColor">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </span>
      <div class="dropdown-content" [class.show]="openDropdown === 'subjects'">
        <a routerLink="/create-subject" (click)="closeDropdown('subjects')">{{ 'navbar.createSubject' | transloco }}</a>
        <a routerLink="/manage-subjects" (click)="closeDropdown('subjects')">{{ 'navbar.manageSubjects' | transloco }}</a>
      </div>
    </div>
    <div class="dropdown" (appClickOutside)="closeDropdown('test')">
      <span class="menu-item" (click)="toggleDropdown('test')">
        {{ 'navbar.test' | transloco }}
        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="currentColor">
          <path d="M480-360 280-560h400L480-360Z" />
        </svg>
      </span>
      <div class="dropdown-content" [class.show]="openDropdown === 'test'">
        <a routerLink="/setup-test" (click)="closeDropdown('test')">{{ 'navbar.startTest' | transloco }}</a>
        <a routerLink="/test-result" (click)="closeDropdown('test')">{{ 'navbar.results' | transloco }}</a>
      </div>
    </div>
  </div>

  <!-- Destra: Pulsante crea card e switch tema -->
  <div class="actions-container">
    <button routerLink="/create-card" type="button" class="btn btn-primary">
      <span>+</span>
      {{ 'navbar.createCard' | transloco }}
    </button>
    <button (click)="openSettings()" class="theme-switch-btn" type="button" [attr.aria-label]="'settings.title' | transloco">
      <span class="material-symbols-outlined">settings</span>
    </button>
  </div>
</nav>

<app-settings-modal [(isOpen)]="isSettingsOpen" (openImportExport)="onOpenImportExportFromSettings()"></app-settings-modal>
<app-import-export-modal [(isOpen)]="isImportExportOpen" (back)="onImportExportBack()"></app-import-export-modal>