<div class="container mt-4" *transloco="let t">
<h1>{{ 'topic.create.title' | transloco }}</h1>

<form [formGroup]="topicForm" (ngSubmit)="createTopic()">
  <div class="mb-3">
    <label for="name" class="form-label">{{ 'common.name' | transloco }}</label>
    <input type="text" class="form-control" id="name" formControlName="name" required>
    <div *ngIf="topicForm.get('name')?.invalid && topicForm.get('name')?.touched" class="text-danger">
      {{ 'topic.create.nameRequiredError' | transloco }}
    </div>
  </div>

  <div class="mb-3">
    <label for="color" class="form-label">{{ 'common.color' | transloco }}</label>
    <input type="color" class="form-control form-control-color" id="color" formControlName="color" [title]="t('topic.create.colorTitle')">
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">{{ 'common.subject' | transloco }}</span>
    <app-searchable-select [options]="subjectOptions" [value]="topicForm.get('subject_id')?.value"
      [placeholder]="t('common.chooseSubject')"
      (valueChange)="topicForm.get('subject_id')?.setValue($event)"></app-searchable-select>
  </div>

  <button type="submit" class="btn btn-primary">{{ 'topic.create.createButton' | transloco }}</button>
</form>
</div>
<app-toast></app-toast>