<div class="container mt-4">
  <h1>{{ 'topic.edit.title' | transloco }}</h1>

  <form [formGroup]="editForm" (ngSubmit)="updateTopic()">
    <div class="mb-3">
      <label for="name" class="form-label">{{ 'common.name' | transloco }}</label>
      <input type="text" id="name" formControlName="name" class="form-control">
    </div>

    <div class="mb-3">
      <label for="color" class="form-label">{{ 'common.color' | transloco }}</label>
      <input type="color" id="color" formControlName="color" class="form-control">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">{{ 'common.subject' | transloco }}</span>
      <select formControlName="subject_id" class="form-select">
        <option value="">{{ 'common.chooseSubject' | transloco }}</option>
        <option *ngFor="let s of subjects" [value]="s._id">{{ s.name }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">{{ 'topic.edit.saveChanges' | transloco }}</button>
  </form>
</div>
<app-toast></app-toast>