<div class="container-md" *transloco="let t">
  <div class="card">
    <div class="card-header p-4 d-flex align-items-center">
      <div class="header-icon-container me-3">
        <span class="material-symbols-outlined">edit</span>
      </div>
      <div>
        <h2 class="card-title">{{ 'topic.edit.title' | transloco }}</h2>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ 'topic.edit.subtitle' | transloco }}</h6>
      </div>
    </div>
    <div class="card-body">
      <form [formGroup]="editForm" (ngSubmit)="updateTopic()" novalidate>

        <div class="form-group">
          <label for="name" class="form-label">{{ 'common.name' | transloco }}</label>
          <input type="text" id="name" formControlName="name" class="form-control">
          @if (editForm.get('name')?.touched && editForm.get('name')?.hasError('minlength')) {
          <div class="invalid-feedback d-block">{{ 'topic.create.nameMinError' | transloco }}</div>
          } @else if (editForm.get('name')?.hasError('maxlength')) {
          <div class="invalid-feedback d-block">{{ 'topic.create.nameMaxError' | transloco }}</div>
          } @else if (editForm.get('name')?.touched && editForm.get('name')?.hasError('required')) {
          <div class="invalid-feedback d-block">{{ 'topic.create.nameRequiredError' | transloco }}</div>
          }
        </div>

        <div class="form-group">
          <label for="color" class="form-label">{{ 'common.color' | transloco }}</label>
          <ngx-colors ngxColorsTrigger id="color" formControlName="color"
            [allowedModels]="['HEXA', 'RGBA']" [theme]="(themeService.theme$ | async) ?? 'light'" [lockValues]="{ alpha: 1, clamp: true }"></ngx-colors>
        </div>

        <div class="form-group">
          <label for="subject" class="form-label">{{ 'common.subject' | transloco }}</label>
          <app-searchable-select [options]="subjectOptions" [value]="editForm.get('subject_id')?.value"
            [placeholder]="t('common.chooseSubject')"
            (valueChange)="editForm.get('subject_id')?.setValue($event)"></app-searchable-select>
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">{{ 'topic.edit.saveChanges' | transloco }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-toast></app-toast>
