.subject-filter-col {
  max-width: 400px;
}

.color-preview {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: var(--spacing-unit);
  box-sizing: border-box;
  border: 3px solid #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}