.color-preview {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: var(--spacing-unit);
  border: 1px solid var(--header-color);
}

.custom-card-header{
  background-color: var(--secondary-color);
  color: white;
  padding-top: 10px;
}