<div class="container md" *transloco="let t">
  <app-page-card icon="cards_stack" [title]="'topic.manage.title' | transloco" [subtitle]="'topic.manage.subtitle' | transloco">
    <button card-actions class="btn btn-primary d-flex align-items-center justify-content-center gap-2" (click)="createTopic()">
      <span>+</span> {{ 'topic.manage.newTopicButton' | transloco }}
    </button>

    <div class="filter-bar mb-4">
      <div class="row align-items-center">

        <div class="col-md-6 subject-filter-col">
          <div class="input-group">
            <app-searchable-select
              [options]="subjectOptions"
              [value]="selectedSubjectId"
              [allOptionLabel]="t('common.allSubjects')"
              [placeholder]="t('common.allSubjects')"
              (valueChange)="onSubjectSelected($event)"
            ></app-searchable-select>
          </div>
        </div>

        <div class="col-md-5 subject-filter-col">
          <app-search-input
            [value]="searchTerm"
            [placeholder]="t('topic.manage.searchPlaceholder')"
            (valueChange)="onSearchTermChange($event)"
          ></app-search-input>
        </div>

      </div>
    </div>

    <table class="table table-stacked topics-table mt-3">
      <thead>
        <tr>
          <th>{{ 'common.name' | transloco }}</th>
          <th>{{ 'common.color' | transloco }}</th>
          <th>{{ 'common.subject' | transloco }}</th>
          <th>{{ 'common.actions' | transloco }}</th>
        </tr>
      </thead>
      <tbody>
        @for (topic of topics; track topic._id) {
        <tr>
          <td class="cell-title">{{ topic.name }}</td>
          <td class="topic-color">
            <span [style.backgroundColor]="topic.color" class="color-preview"></span>
            <span class="color-hex">{{ topic.color }}</span>
          </td>
          <td class="cell-meta">{{ getSubjectName(topic.subject_id) }}</td>
          <td class="cell-actions">
            <button type="button" class="btn btn-outline-warning" (click)="editTopic(topic._id)" [attr.aria-label]="t('common.edit')">
              <span class="material-symbols-outlined">edit</span>
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="askDeleteTopic(topic._id)" [attr.aria-label]="t('common.delete')">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
      (previous)="previousPage()" (next)="nextPage()"></app-pagination>
  </app-page-card>
</div>
<app-toast></app-toast>
<ng-container *transloco="let t">
  <app-confirm-dialog [isOpen]="showDeleteConfirm" [title]="t('common.confirmDelete')"
    [message]="t('topic.manage.deleteConfirm')" [confirmLabel]="t('common.yes')" [cancelLabel]="t('common.cancel')"
    (confirmed)="confirmDelete()" (cancelled)="cancelDelete()"></app-confirm-dialog>
</ng-container>
