/* Custom card */
.custom-card {
  padding: 0px !important;
}

.colorful-card-title {
  color: white !important; /* color del titolo bianco */
  padding: 10px !important; /* Padding per il titolo */
  border-radius: 5px 5px 0 0 !important; /* Angoli arrotondati solo nella parte superiore */
  text-align: center;
}

.card-body-custom{
  margin: 5px;
  padding: 16px;
}